body {
    background-color: black; /*set body background to black*/
    }
h1{
    color: grey; /*set text color to grey and font to verdana*/
    font-family: verdana;
    }

.maindiv{
    background-color: white; /* set properties for main div*/
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    align: center;
}

#principal {
    margin-left: 40px;
}

#rate {
    margin-left: 10px;
}

#years {
    margin-left: 12px;
}



